@import url(./normalize.css);
@import url(./reset.css);
@import url(./fonts.css);

*, *::before, *::after{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

html{
  font-size: 10px;
}

body{
  margin: 0;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  position: relative;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 65px;
  z-index: 10;
}
.member {
  text-align: right;
  padding: 4px 0;
  transform: translateX(8px);
}

.member li,
.member a {
  display: inline-block;
}
.member a {
  padding: 6px 8px;
  text-transform: uppercase;
}
