@import url(./normalize.css);
@import url(./reset.css);
@import url(./fonts.css);

/* 기본 스타일 */
*, *::before, *::after{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

html{
  font-size: 10px;
}

body{
  margin: 0;
  font-size: 1.4rem;
}



.contents{
  width:100%;
  max-width: 1240px;
  margin: 0 auto;

}
h2{
  text-align: center;
}
ul.best{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}
ul.best li{
  width: 33.33%;
  border:1px solid #fff;
  text-align: center;
  margin-bottom: 20px;
}
ul.best li a{
  display: inline-block;
  width:95%;

}
ul.best li a img{
  max-width: 100%;
  height: auto;
}